/dataset/
/venv/
assignment document + marking guide.pdf
.env
__pycache__/
.ipynb_checkpoints/
results/models/*.keras
results/models/*.npz
results/models/*.weights.h5
results/cache/
src/models/*.keras
src/models/*.weights.h5
