# Dataset archives and derived data
data/*.tar.gz
data/*.zip
data/raw/
data/processed/crops/
data/classification/
data/RDD2020/
data/FileStructure.txt

# Trained weights & checkpoints
results/models/*.keras
results/models/*.h5
*.pth
*.pt

# Python & Environment
__pycache__/
*.py[cod]
*$py.class
*.pyc
.ipynb_checkpoints/
.venv/
venv/
